<?xml version="1.0" encoding="UTF-8"?>

<launch>
  <node pkg="ntrip_ros" type="ntripclient.py" name="ntrip_ros" output="screen">
	<param name="rtcm_topic" value="/rtcm"/>
	<param name="ntrip_server" value="192.168.20.207:2101"/>
	<param name="ntrip_user" value="none"/>
	<param name="ntrip_pass" value="none"/>
	<param name="ntrip_stream" value="lcas"/>

	<!-- Lincoln -->
	<param name="nmea_gga" value="$GPGGA,143732.378,5313.613,N,00032.879,W,1,12,1.0,0.0,M,0.0,M,,*77"/>

	<!-- Norwich -->
	<!--<param name="nmea_gga" value="$GPG1GA,124910.146,5244.452,N,00124.896,E,1,12,1.0,0.0,M,0.0,M,,*66"/>-->
  </node>
</launch>
