<?xml version="1.0" encoding="UTF-8"?>
<launch>
	<node pkg="ntrip_ros" type="ntripclient.py" name="ntrip_ros" output="screen">
		<param name="rtcm_topic" value="/rtcm"/>
		<param name="ntrip_server" value="rtk2go.com:2101"/>
		<param name="ntrip_user" value="rlloyd@lincoln.ac.uk"/>
		<param name="ntrip_pass" value="none"/>

		<!-- closest Lincoln: ARL-RTK or ER_Pollybell_1 for Norwich: NR152QB-->

		<param name="ntrip_stream" value="ARL-RTK"/>
		<param name="nmea_gga" value="$GPGGA,143732.378,5313.613,N,00032.879,W,1,12,1.0,0.0,M,0.0,M,,*77"/> <!-- Lincoln -->

		<!--<param name="ntrip_stream" value="NR152QB"/>
		<param name="nmea_gga" value="$GPG1GA,124910.146,5244.452,N,00124.896,E,1,12,1.0,0.0,M,0.0,M,,*66"/>--> <!-- Norwich -->
	</node>
</launch>

